@page "/carnival31"
@using Team17.Online.Multiplayer.Messaging;

<div class="level-visualization">
<BECanvas Width="500" Height="500" @ref="_canvasReference" ></BECanvas>
@foreach (var entity in handler.entities.entities) {
    <div class="entity-box">
        <div class="entity-title">@(entity.Key)</div>
        <div class="entity-data-list">
            <div class="entity-data">
                <div class="entity-key">(Name & Pos)</div>
                <div class="entity-value">@(entity.Value.name) (@(entity.Value.pos.x), @(entity.Value.pos.y), @(entity.Value.pos.z))</div>
            </div>
            @foreach (var data in entity.Value.data) {
                if (data.Key == EntityType.WorldObject) continue;
                <div class="entity-data">
                    <div class="entity-key">@(data.Key)</div>
                    <div class="entity-value">@(toJson(data.Value))</div>
                </div>
            }
        </div>
    </div>
}


@foreach (var entity in handler.entities.entities) {
    <div class="entity-drawing-anchor" style="left: @(Render(entity.Value.pos.ToNumericsVector()).X)px; top:  @(Render(entity.Value.pos.ToNumericsVector()).Y)px;">
        <div class="entity-drawing-holder">
            <div class="entity-drawing-content">
                @(entity.Value.entityId)
            </div>
        </div>
    </div>
}
</div>