@page "/carnival31-four"
@using Team17.Online.Multiplayer.Messaging;

<div class="level-visualization">
<BECanvas Width="500" Height="500" @ref="_canvasReference" ></BECanvas>

@* 

<div style="position: relative">
    @if (handler.CurrentState != null) {
    @foreach (var action in handler.CurrentState.States) {
        @if (action.Duration != null) {
            <div class="one-action-drawing one-action-chef-@(action.ChefId) one-action-type-@(action.Action.GetType().Name)" 
             style="top: @(TimeToPx(action.StartTime.Value))px; height: @(TimeToPx(action.Duration.Value))px">
                @(action.ActionId)</div>
        }
    }
}
</div>
 *@

<div class="schedule-container">
    <div class="schedule-background">
        @foreach (var rift in handler.TimelineLayout.Rifts) {
            <div class="timeline-rift"
                style="margin-top: @(rift.margin)px; height: @(rift.height)px">
            </div>
        }
    </div>
    <div class="schedule">
        @for (int i = 0; i < handler.sequences.Actions.Count; i++) {
            <div class="chef-column">
                <div class="chef-column-title">Chef @(handler.sequences.Chefs[i])</div>
                <div class="chef-column-contents">
                    @foreach (var node in handler.sequences.Actions[i])
                    {
                        string stateClass;
                        if (handler.CurrentState != null) {
                            var state = handler.CurrentState.States[node.Id];
                            stateClass = state.IsActive ? "active-action" : state.StartTime == null ? "unstarted-action" : "";
                        } else {
                            stateClass = "unstarted-action";
                        }
                        <div class="one-action @(stateClass)"
                            style="margin-top: @(node.Predictions.LayoutTopMargin)px; height: @(node.Predictions.LayoutHeight)px; overflow: hidden">
                            [@(node.Id)] @(node.Action.Describe())</div>
                    }
                </div>
            </div>
        }
    </div>
</div>

@* 
@foreach (var chef in handler.entities.chefs) {
    <div class="entity-box">
        <div class="entity-title">@(chef.Key)</div>
        <div class="entity-data-list">
            <div class="entity-data">
                <div class="entity-key">Highlighted for pickup</div>
                <div class="entity-value">@(chef.Value.highlightedForPickup)</div>
            </div>
            <div class="entity-data">
                <div class="entity-key">Highlighted for use</div>
                <div class="entity-value">@(chef.Value.highlightedForUse)</div>
            </div>
            <div class="entity-data">
                <div class="entity-key">Highlighted for placement</div>
                <div class="entity-value">@(chef.Value.highlightedForPlacement)</div>
            </div>
        </div>
    </div>
} *@
@* 
@foreach (var entity in handler.entities.entities) {
    <div class="entity-box">
        <div class="entity-title">@(entity.Key)
            <br/>
            @(entity.Value.spawnSourceEntityId == -1 ? "" : "^ " + entity.Value.spawnSourceEntityId)
        </div>
        <div class="entity-data-list">
            <div class="entity-data">
                <div class="entity-key">(Name & Pos)</div>
                <div class="entity-value">@(entity.Value.name) (@(entity.Value.pos.X), @(entity.Value.pos.Y), @(entity.Value.pos.Z))</div>
            </div>
            @foreach (var data in entity.Value.data) {
                if (data.Key == EntityType.WorldObject) continue;
                <div class="entity-data">
                    <div class="entity-key">@(data.Key)</div>
                    <div class="entity-value">@(toJson(data.Value))</div>
                </div>
            }
        </div>
    </div>
}


@foreach (var entity in handler.entities.entities) {
    <div class="entity-drawing-anchor" style="left: @(Render(entity.Value.pos).X)px; top:  @(Render(entity.Value.pos).Y)px;">
        <div class="entity-drawing-holder">
            <div class="entity-drawing-content">
                @(entity.Value.entityId)
            </div>
        </div>
    </div>
} *@
</div>